@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    color: #515151;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 14px;
}

.header {
    background-color: #f2b705;
    height: 80px;
}

.logo-container {
    width: 200px;
}

.logo-container img {
    width: 100%;
}

.header img {
    max-width: 100%;
    vertical-align: middle;
}

.contact {
    justify-content: end;
    color: #fff;
}

.contact .contact-detail {
    color: black !important;
    padding-right: 20px;
    transition: color 0.2s linear;
}

.contact .contact-detail:hover {
    color: white !important;
}

.footer {
    background-color: #212121;
    color: #fff;
    padding: 25px 0 !important;
}

.footer-left {
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
}

.footer-middle,
.footer-right {
    margin-top: 30px;
}

.left-content {
    margin-top: 10px;
}

.middle-content,
.right-content {
    margin-top: 20px;
}

.middle-title,
.right-title {
    font-weight: 700;
    font-size: 20px;
}

.middle-content ion-icon {
    color: #f2b705;
    padding-right: 10px;
}

.right-content a {
    color: white;
}

.right-content a:hover {
    text-decoration: none;
    color: #f2b705;
    transition: color 0.1s linear;
}

.footer-footer {
    text-align: center;
    font-size: 14px;

}

.test {
    margin-top: 10px;
}

.mucluc {
    border: 1px dashed #f2b705;
    text-align: center;
    
    margin-bottom: 10px;
   
}

.buton {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -10px;

}


.row1 {
    border: 1px dashed gainsboro;
    
    margin-bottom: 10px;
    
}

.cuoianh{
    background-color: rgb(195, 195, 195);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes changeColor {
    from {
        color: black;
    }

    to {
        color: #fff;
    }
}